[D-BUS Service]
Name=com.mobileteck.freetether.cleaner.service
Exec=/var/usr/sbin/com.mobileteck.freetether.cleaner.service                           